* {
 margin: 0%;
 padding: 0;
 font-family: 'Poppins', sans-serif;
 box-sizing: border-box;

}
main{
    text-align: right;
}
.nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}
body {
    background-image: url('./images/purple-macbook-pro-stock-5k-4480x2520-4026.jpg');
    color: #ec27d5;
    margin: 0;
    padding: 0;
    filter: brightness(110%)contrast(110%);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
/*spacing between about me and header*/
header {
    display: flex;
    justify-content: flex-start;
    height: 10vh;
    min-width: 200vh;
    background-image: url('./images/1000_F_123498067_ufF773Ksk07VpA4s8bovUvH0TAtDSnND.jpg');
    opacity: 0.75;
}
.container{
    padding: 10px 10%;
    position: relative;
}
/*border displayed behind name and titles*/
nav{
    display:flex;
    justify-content: right;
    padding: 10px;  
    flex-flow: column wrap;
}
.header-image{
    background-size:cover;
    margin-top: 9.8%;
    opacity: 0.25;
}

#nav-logo{
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    right: 10px;
    margin: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
}
nav ul li{
    flex: 0 0 9; 
    list-style:none;
    margin: 1px 2px; 
    margin-left: -1vh;
}

nav ul li a{
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-size: 40px;
}
/*underlining titles defaults*/
a:hover{
    text-decoration: 2px underline rgb(255, 0, 234);
    background: rgb(248, 135, 239);
    transition: 0.5s;
}
.header-text{
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-size:small;
    text-shadow: 2px 2px 4px rgba(238, 0, 255, 0.5);
 }
    
/*About Me and allow me to introduce myself spacing*/
h1 {
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 20vh;
    text-align: center;
    width: 90%;
    text-decoration: underline;
    font-family: 'Press Start 2P', cursive;
}
h2 {
    margin-top: 3vh;
    font-size: 24px;
    text-decoration: underline;
    font-family: 'Press Start 2P', cursive;
}
/*text style for paragraphs*/
p {
    margin-top: 1vh;
    margin-right: -0vh;
    font-size:medium;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: #f176d0;
    font-weight: bold;
}
/*links*/
a {
    color: rgb(255, 0, 255);
    font-style: bold; 
    font-size: x-large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-top: 10vh;
    margin-right: 5vh;
    font-weight: 100;
} 

/*Work section*/
/*images displayed on site's style*/
img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    border-style:double;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
    object-fit: cover;
    width: 50%;
    height: 550px;
}

#work img, #get-in-touch img {
    border-radius: 10px;
    border-style:double;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
    object-fit: cover;
    width: 70%;
    height: 550px;
}

/*Get in touch section*/
.project-description{
    margin-top: 4.0vh;
    margin-right: 5vh;
    margin-left: -2vh;
}
footer {
    text-align: center;
}